In [3]:
import mysql.connector
try:
    cnx = mysql.connector.connect(user='todo', password='todo', host='localhost', database='workson', ssl_disabled='True')
    cursor = cnx.cursor()
    query = "SELECT ename, salary FROM emp"                
    cursor.execute(query)
    for (ename, salary) in cursor:
        print(ename, salary)
    cursor.close()
except mysql.connector.Error as err:  
    print(err)
finally:
    cnx.close()

J. Doe 30000.00
M. Smith 50000.00
A. Lee 40000.00
J. Miller 20000.00
B. Casey 50000.00
L. Chu 30000.00
R. Davis 40000.00
J. Jones 50000.00